@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$colors: (
    bgc: #D8E2DC,
    header: #FFFF,
    card: #086788
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};


body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: color(bgc);
}

header {
    background: grey;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    //margin-bottom: 40%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.603);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    .hide-mobile {
        display: none;
    }

    .logo {
        height: 30%;
        width: 30%;
        padding: .8em 1.2em;
    }

    .menu {
        padding: .8em 1.9em;
        width: 20%;
        margin-left: 60%;
    }

    nav ul {
        position: fixed;
        width: 60%;
        top: 0;
        right: 0;
        text-align: left;
        background: white;
        height: 100%;
        z-index: 7;
        padding-top: 3em;
        list-style-type: none;
    }
    
    nav ul li a {
        color: black;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 1em 2em;
        background-color: white;
    }
    
    nav ul li a:hover {
        background-color: rgb(65, 73, 78);
    }
    
    .exit-btn {
        margin-bottom: 1em;
        margin-top: -1.3em;
        text-align: right;
        padding: 0 1.4em;
    }
    
    .exit-btn img {
        width: 15px;
        cursor: pointer;
    }
}

main {
    .bg-card {
        background: white;
        width: 85%;
        display: block;
        margin: 0 auto;
        margin-top: 30%;
        margin-bottom: 30%;
        border: none;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        padding-bottom: 5px;

        .questionnaire {
            padding: 20px 0 20px 0;

            .steps {
                h1 {
                    text-align: center;
                }

                p {
                    padding: 0 30px 0 30px;
                    margin: -20px auto 20px;
                    font-weight: normal;
                    font-size: 15px;
                    text-align: center;
                    color: rgb(73, 73, 73);
                }
            }

            h2 {
                text-align: center;
            }

            select {
                display: block;
                margin: 0 auto;
                width: 300px;
                height: 50px;
                font-size: 17px;
                font-weight: bold;
                border: 1px solid black;
                padding: 0 20px 0 20px;
                background-color: rgb(235, 235, 235);
                margin-bottom: 30px;
                cursor: pointer;
            }

            
            .tnc {
                display: flex;
                //justify-content: center;
                input {
                    width: 30px;
                    height: 30px;
                    margin-left: 30px;
                    margin-right: 10px;
                    cursor: pointer;
                }

                label {
                    font-size: 15px;
                    padding: 7px 10px 0 10px;
                }

            }

            .submit {
                display: block;
                padding-top: 17px;
                padding-bottom: 17px;
                width: 81%;
                border-radius: 50px;
                border: none;
                margin: 30px auto 0 auto;
                background-color: #0999c9;
                color: black;
                font-size: 15px;
                font-weight: bold;
                text-decoration: none;
                box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.56);
                text-align: center;
                cursor: pointer;
            }

            .submit:hover {
                cursor: pointer;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    header {
        .logo {
            height: 20%;
            width: 20%;
            //padding: .8em 1.2em;
            margin: 0;     
        }

        .show-desktop {
            display: block;
            margin: 0 auto 13% auto;
        }
    
        .hide-desktop {
            display: none;
        }
    
        nav ul {
            position: inherit;
            width: auto;
            background: none;
            height: auto;
            display: flex;
            //padding-top: 0;
            list-style-type: none;
            padding-right: 60px;
        }
    
        nav ul li {
            float: left;
            
        }
    
        nav ul li a {
            color: black;
            background-color: inherit;
            text-align: right;
            padding: 1em 2em;
            font-weight: bold;
            font-size: 1.2em;
        }
    
        nav ul li a:hover {
            background-color: inherit;
        }
    }

    main {
        .bg-card {
            width: 80%;
            margin-top: 17%;
            
            .questionnaire {
                padding: 20px 0 30px 0;
    
                .steps {
                    h1 {
                        font-size: 40px;
                    }
    
                    p {
                        padding: 0 40px 0 40px;
                        margin: -10px auto 30px;
                        font-size: 20px;
                    }
                }
    
                h2 {
                    text-align: center;
                }
    
                select {
                    display: block;
                    margin: 0 auto;
                    width: 500px;
                    height: 50px;
                    font-size: 17px;
                    font-weight: bold;
                    border: 1px solid black;
                    padding: 0 20px 0 20px;
                    background-color: rgb(235, 235, 235);
                    margin-bottom: 30px;
                }
    
                
                .tnc {
                    display: flex;
                    justify-content: center;
                    input {
                        width: 30px;
                        height: 30px;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
    
                    label {
                        font-size: 17px;
                        padding: 7px 10px 0 10px;
                    }
    
                }
    
                .submit {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 70%;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    header {
        .logo {
            height: 15%;
            width: 15%;
            //padding: 2em 0 0 2em;
            margin: 0;     
        }
    }

    main {
        .bg-card {
            width: 50%;
            margin-top: 9%;

            .questionnaire {
                padding: 20px 0 30px 0;
    
                .steps {
                    h1 {
                        font-size: 40px;
                    }
                }
    
                h2 {
                    margin: 50px 0 30px 0;
                }
    
                select {
                    width: 600px;
                    padding: 0 20px 0 20px;
                    margin-bottom: 30px;
                }
    
                .tnc {
                    margin-bottom: 50px;
                    label {
                        font-size: 20px;
                    }
                }
    
                .submit {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 70%;
                    font-size: 20px;
                }
            }
        }
    }
}