@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$colors: (
    bgc: #D8E2DC,
    header: #FFFF,
    card: #086788
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};


body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: color(bgc);
}

header {
    background: grey;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    //margin-bottom: 40%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.603);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    .hide-mobile {
        display: none;
    }

    .logo {
        height: 30%;
        width: 30%;
        padding: .8em 1.2em;
    }

    .menu {
        padding: .8em 1.9em;
        width: 20%;
        margin-left: 60%;
    }

    nav ul {
        position: fixed;
        width: 60%;
        top: 0;
        right: 0;
        text-align: left;
        background: white;
        height: 100%;
        z-index: 7;
        padding-top: 3em;
        list-style-type: none;
    }
    
    nav ul li a {
        color: black;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 1em 2em;
        background-color: white;
    }
    
    nav ul li a:hover {
        background-color: rgb(65, 73, 78);
    }
    
    .exit-btn {
        margin-bottom: 1em;
        margin-top: -1.3em;
        text-align: right;
        padding: 0 1.4em;
    }
    
    .exit-btn img {
        width: 15px;
        cursor: pointer;
    }
}

main {
    .bg-card {
        background: white;
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 30%;
        margin-bottom: 30%;
        border: none;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        padding-bottom: 5px;

        .container {
            padding-top: 7px;
            padding-bottom: 17px;
            padding-left: 15px;
            padding-right: 15px;

            .jobendandtotal {
                .jobEnd {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 20px;
                    margin-left: 3%;
                }

                .totalprice {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 33%;
                    font-size: 20px;
                    font-weight: normal;
                }
            }

            .receipt {
                margin-bottom: 25px;
                h4 {
                    margin-left: 3%;
                    margin-top: 30px;
                    font-size: 17px;
                }

                p {
                    margin-top: -13px;
                    margin-left: 3%;
                    margin-bottom: 15px;
                    font-size: 17px;
                }

                hr {
                    margin-top: 27px;
                }
            }

            .receiptfoot {
                margin-top: 25px;
                p {
                    margin-left: 3%;
                    font-size: 17px;
                    font-weight: bold;
                }

                .yes {
                    display: block;
                    padding-top: 17px;
                    padding-bottom: 17px;
                    width: 81%;
                    border-radius: 50px;
                    border: none;
                    margin: 30px auto 0 auto;
                    background-color: #0999c9;
                    color: black;
                    font-size: 17px;
                    font-weight: bold;
                    text-decoration: none;
                    box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.56);
                    text-align: center;
                    cursor: pointer;
                }

                .no {
                    display: block;
                    padding-top: 17px;
                    padding-bottom: 17px;
                    width: 81%;
                    border-radius: 50px;
                    border: none;
                    margin: 20px auto 0 auto;
                    background-color: #f44336;
                    color: black;
                    font-size: 17px;
                    font-weight: bold;
                    text-decoration: none;
                    box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.56);
                    text-align: center;
                    cursor: pointer;
                }

                .waive {
                    display: block;
                    padding-top: 17px;
                    padding-bottom: 17px;
                    width: 81%;
                    border-radius: 50px;
                    border: none;
                    margin: 20px auto 20px auto;
                    background-color: #10b425;
                    color: black;
                    font-size: 17px;
                    font-weight: bold;
                    text-decoration: none;
                    box-shadow: 0px 3px 19px -9px rgba(0,0,0,0.56);
                    text-align: center;
                    cursor: pointer;
                }
            }

            hr {
                //margin-top: -2%;
                border: 1px solid grey;
                width: 94%;
                margin: auto;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    header {
        .logo {
            height: 20%;
            width: 20%;
            //padding: .8em 1.2em;
            margin: 0;     
        }

        .show-desktop {
            display: block;
            margin: 0 auto 13% auto;
        }
    
        .hide-desktop {
            display: none;
        }
    
        nav ul {
            position: inherit;
            width: auto;
            background: none;
            height: auto;
            display: flex;
            //padding-top: 0;
            list-style-type: none;
            padding-right: 60px;
        }
    
        nav ul li {
            float: left;
            
        }
    
        nav ul li a {
            color: black;
            background-color: inherit;
            text-align: right;
            padding: 1em 2em;
            font-weight: bold;
            font-size: 1.2em;
        }
    
        nav ul li a:hover {
            background-color: inherit;
        }
    }

    main {
        .bg-card {
            width: 80%;
            margin-top: 15%;
            margin-bottom: 15%;
    
            .container {
                padding-top: 10px;
                padding-bottom: 20px;
                padding-left: 30px;
                padding-right: 30px;
    
                .jobendandtotal {
                    .jobEnd {
                        font-size: 25px;
                    }
    
                    .totalprice {
                        margin-left: 59%;
                        font-size: 25px;
                    }
                }
    
                .receipt {
                    h4 {
                        font-size: 20px;
                    }
    
                    p {
                        font-size: 20px;
                    }
                }
    
                .receiptfoot {
                    p {
                        margin-top: 30px;
                        font-size: 20px;
                    }
    
                    .yes {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        width: 60%;
                        font-size: 20px;
                        cursor: pointer;
                    }
    
                    .no {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        width: 60%;
                        font-size: 20px;
                        cursor: pointer;
                    }

                    .waive {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        width: 60%;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
    
                hr {
                    //margin-top: -2%;
                    border: 1px solid grey;
                    width: 94%;
                    margin: auto;
                }
            }
        }
    }
}

@media only screen and (min-width: 1600px) {
    header {
        .logo {
            height: 15%;
            width: 15%;
            //padding: 2em 0 0 2em;
            margin: 0;     
        }
    }

    main {
        .bg-card {
            width: 50%;
            margin-top: 9%;

            .container {
                padding-bottom: 30px;
                padding-left: 40px;
                padding-right: 40px;

                .jobendandtotal {
                    .jobEnd {
                        font-size: 27px;
                    }
    
                    .totalprice {
                        margin-left: 62%;
                        font-size: 27px;
                    }
                }
    
                .receipt {
                    h4 {
                        font-size: 22px;
                    }
    
                    p {
                        font-size: 22px;
                    }
                }
    
                .receiptfoot {
                    p {
                        font-size: 22px;
                    }
    
                    .yes {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        width: 70%;
                        font-size: 22px;
                    }
    
                    .no {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        width: 70%;
                        font-size: 22px;
                    }

                    .waive {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        width: 70%;
                        font-size: 22px;
                    }
                }
    
                hr {
                    //margin-top: -2%;
                    border: 1px solid grey;
                    width: 94%;
                    margin: auto;
                }
            }
        }
    }
}